openapi: 3.1.0
info:
  title: Brew Public API v1
  version: 1.0.0
  description: |-
    Brew Public API v1. Generated from the app Zod contracts (`lib/<domain>/contracts.ts`): this document is the contract, and every operation documents exactly the error codes it can return.

    - Base URL `https://brew.new/api`; every path starts with `/v1`; JSON in and out. Request bodies and query strings are strict: an unknown key is `400 INVALID_REQUEST` and `error.param` names it.
    - Identity is always in the path. `GET /v1/<collection>` lists (`{ data, pagination: { limit, cursor, hasMore } }`; page until `cursor` is `null`), and `GET /v1/<collection>/{id}` returns the bare resource, the same object a write returns. `?include=` expands relations on a detail read only, and is `400` on a list. There is no `?<idKey>=` read anywhere.
    - Writes carry identity in the path and return the bare resource: `POST /v1/<collection>` creates (`201`, or `202` when work continues asynchronously), `PATCH` and `DELETE /v1/<collection>/{id}` update or delete (`DELETE` answers `{ <idField>, deleted }` and is idempotent). Lifecycle state changes such as publishing ride `PATCH` as attributes. Two writes report more than the row and say so in their shape: `POST` and `PATCH /v1/contacts` are upserts that answer `{ contact, created | updated, … }` because whether a row was created, which fields changed, and which field definitions were minted are facts about the write, not about the contact.
    - Non-CRUD operations are explicit action sub-paths, for example `POST /v1/automations/{automationId}/test`, `POST /v1/domains/{domainId}/verify`, `POST /v1/sends/{sendId}/cancel` and `POST /v1/automations/triggers/{triggerEventId}/fire`.
    - Every resource has one root. Sends read and write at `/v1/sends`, fired triggers at `/v1/automations/trigger-instances`, and `/v1/analytics/*` holds only reports (aggregates over a window). Every endpoint answers in the same envelopes, with no exceptions.
    - Field names are camelCase; enum values are lowercase snake_case; timestamps are ISO 8601 UTC strings. Identifiers are opaque strings of at most 64 characters (`triggerEventId` up to 256); never parse a prefix.
    - Everything that runs shares one status vocabulary: `queued`, `scheduled`, `running`, `paused`, `completed`, `partially_completed`, `failed`, `canceled`. It covers sends, automation runs, manual audience runs, audience builds and inbox placement tests, so one status switch reads them all. A step inside a run is `running`, `completed`, `failed` or `skipped`.
    - Every error on every endpoint is `{ error: { code, type, message, suggestion, docs, param?, retryAfter?, details? } }`. Branch on `code`: the closed list is the `ApiErrorCode` component and every operation documents exactly the codes it can return. Non-fatal caveats arrive as `warnings: [{ code, message, field? }]` on `2xx` bodies.
    - A credential is brand-scoped (the brand is implicit; send nothing) or organization-scoped (name the brand with the `X-Brand-Id` header on brand-scoped operations, else `400 BRAND_ID_REQUIRED`; there is no default brand). Only `POST /v1/api-keys` carries a `brandId` field, and only a signed-in organization admin session may call `/v1/api-keys`. A brand outside your reach surfaces as `404`, never `403`.
    - Send `Idempotency-Key` (up to 100 characters) on any POST you might repeat: the same key and body replays the original response for 24 hours; the same key with a different body is `409 IDEMPOTENCY_CONFLICT`. Rate limits are per credential and named policy (`X-RateLimit-*` headers; `429` carries `Retry-After`). Credit-metered operations advertise `402` and carry `x-brew-credited: true` in the spec.
    - Discovery without a key: `GET /v1/help` (JSON catalog with scopes, credits and rate limits per operation), `GET /v1/llms.txt` (this guide) and `GET /v1/health`. The OpenAPI document is served at `/openapi.json`.
  contact:
    name: Brew Support
    url: https://docs.brew.new
    email: support@brew.new
servers:
  - url: https://brew.new/api
    description: Production
  - url: http://localhost:3000/api
    description: Local development
security:
  - bearerAuth: []
  - apiKeyAuth: []
tags:
  - name: Emails
    description: "Email designs and sending. Generate a design with the Brew email agent, edit, version, restore — then send it: `POST /v1/sends` delivers a design to a target (a saved audience, an inline list, or a single address) via a verified domain, and `POST /v1/sends` with `test: true` fires a one-off test. Sending is not campaign-specific. Send reads live under Sends (`/v1/sends`)."
  - name: Sends
    description: The unit of delivery and analytics. `POST /v1/sends` delivers a design to a target; `GET /v1/sends` lists campaign sends (with lifetime stats) or, with a join filter, one automation’s per-recipient deliveries; `GET /v1/sends/{sendId}` reads one send and its events. Cancel, pause and resume are action sub-paths.
  - name: Brands
    description: "Brand lifecycle for ORGANIZATION-scoped credentials: list the brands a credential can reach, read one, and create a new one (extraction runs asynchronously — poll `GET /v1/brands/{brandId}` until `status: completed`). These endpoints act on the organization, so they take no `X-Brand-Id`."
  - name: Analytics
    description: "Read-only cross-resource reports: the brand overview, windowed automation performance and the unified event feed. Send rows (with lifetime stats) live at `/v1/sends`; fired triggers at `/v1/automations/trigger-instances`."
  - name: Automations
    description: Automation graphs — deterministic create from explicit `nodes` + `connections`, update, version, publish / unpublish, test. Includes trigger event definitions + the fire endpoint (`/v1/automations/triggers`) and run history (`/v1/automations/runs`).
  - name: Contacts
    description: Create, search, patch, and delete contacts. Email is the primary key.
  - name: Contact Fields
    description: List, create, and delete custom contact field definitions.
  - name: Audiences
    description: Saved contact filter sets — a recipient target for sends.
  - name: Domains
    description: "Sending domains: add, read DNS records, verify, configure sender defaults."
  - name: Templates
    description: Public template gallery (read-only) usable as generation references.
  - name: Brand
    description: The single brand bound to the API key.
  - name: Chats
    description: Read a brand-scoped digest of a Brew chat — referenced emails/automations/triggers + a trimmed transcript — so an external agent can resume the conversation.
  - name: Integrations
    description: Brand-scoped catalog of connectable providers plus which ones are already connected. Connect itself stays in Settings (`/integrations/{provider}`).
  - name: API Keys
    description: Mint, list, and revoke API keys through a signed-in Clerk session whose active organization role is exactly `org:admin`. API-key and OAuth actors receive `403`. `POST` body `brandId` is the new key's binding (the only v1 body field named `brandId`).
  - name: Meta
    description: "Public discovery surface (no auth): the machine-readable API catalog (`/v1/help`)."
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: "Send your Brew API key as `Authorization: Bearer brew_xxx`."
      x-default: Bearer brew_your_api_key
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: "Send your Brew API key as `X-API-Key: brew_xxx`."
      x-default: brew_your_api_key
    sessionAuth:
      type: apiKey
      in: cookie
      name: __session
      description: A signed-in Clerk browser session whose active organization role is exactly `org:admin`. API-key and OAuth actors are rejected.
  schemas:
    EmailSummary:
      type: object
      properties:
        emailId:
          type: string
          minLength: 1
        emailVersionId:
          type: string
          minLength: 1
        title:
          type: string
          minLength: 1
        status:
          type: string
          enum:
            - generating
            - ready
            - failed
        previewImage:
          type: string
          format: uri
        updatedAt:
          type: string
          format: date-time
          description: Last stable design update. While status is `generating`, collection reads hold this at `createdAt` so body chunks do not reorder or invalidate the whole list; the completion transition publishes the final source timestamp.
        subjectLine:
          type: string
          description: The design's default inbox subject, persisted on the latest version. Distinct from `title` (canvas name). Detail-only; absent on rows where it has never been set (via the write surfaces' `subjectLine` field, or in-app). `POST /v1/sends` still requires an explicit `subject`.
        previewText:
          type: string
          description: The design's inbox preview line, read directly from the latest version's JSX <Preview> (its single source of truth) — what a send delivers when no explicit `previewText` override is passed to POST /v1/sends. Detail-only; absent when the design has no <Preview>.
        html:
          type: string
        versions:
          type: array
          items:
            type: object
            properties:
              version:
                anyOf:
                  - type: integer
                    minimum: 0
                  - type: string
                    enum:
                      - latest
              emailVersionId:
                type: string
                minLength: 1
            required:
              - version
              - emailVersionId
            additionalProperties: false
        group:
          type:
            - object
            - "null"
          properties:
            groupId:
              type: string
              minLength: 1
              maxLength: 64
            groupName:
              type: string
              minLength: 1
              maxLength: 60
          required:
            - groupId
            - groupName
          additionalProperties: false
      required:
        - emailId
        - title
        - status
        - updatedAt
        - group
      additionalProperties: false
    EmailDetail:
      type: object
      properties:
        emailId:
          type: string
          minLength: 1
        emailVersionId:
          type: string
          minLength: 1
        title:
          type: string
          minLength: 1
        status:
          type: string
          enum:
            - generating
            - ready
            - failed
        previewImage:
          type: string
          format: uri
        updatedAt:
          type: string
          format: date-time
          description: Last stable design update. While status is `generating`, collection reads hold this at `createdAt` so body chunks do not reorder or invalidate the whole list; the completion transition publishes the final source timestamp.
        subjectLine:
          type: string
          description: The design's default inbox subject, persisted on the latest version. Distinct from `title` (canvas name). Detail-only; absent on rows where it has never been set (via the write surfaces' `subjectLine` field, or in-app). `POST /v1/sends` still requires an explicit `subject`.
        previewText:
          type: string
          description: The design's inbox preview line, read directly from the latest version's JSX <Preview> (its single source of truth) — what a send delivers when no explicit `previewText` override is passed to POST /v1/sends. Detail-only; absent when the design has no <Preview>.
        html:
          type: string
        versions:
          type: array
          items:
            type: object
            properties:
              version:
                anyOf:
                  - type: integer
                    minimum: 0
                  - type: string
                    enum:
                      - latest
              emailVersionId:
                type: string
                minLength: 1
            required:
              - version
              - emailVersionId
            additionalProperties: false
        group:
          type:
            - object
            - "null"
          properties:
            groupId:
              type: string
              minLength: 1
              maxLength: 64
            groupName:
              type: string
              minLength: 1
              maxLength: 60
          required:
            - groupId
            - groupName
          additionalProperties: false
        version:
          anyOf:
            - type: integer
              minimum: 0
            - type: string
              enum:
                - latest
          description: "The version that was read: its number, or `latest` for the current head."
        runId:
          type: string
          description: Echoes the `runId` query parameter when one was passed.
        previewStatus:
          type: string
          enum:
            - available
            - unavailable
            - not_ready
          description: "`available` when `previewImage` is set; `unavailable` when a ready design has no saved screenshot; `not_ready` while generating or after a failure."
        content:
          type: object
          properties:
            url:
              type: string
              format: uri
            mimeType:
              type: string
              enum:
                - text/html
            bytes:
              type: integer
              minimum: 0
            expiresAt:
              type: string
              format: date-time
          required:
            - url
            - mimeType
            - bytes
            - expiresAt
          additionalProperties: false
          description: "MCP only: a signed, expiring download of the selected version’s HTML, in place of an `html` too large to inline."
        errorMessage:
          type: string
          description: Why the generation failed. Present when `status` is `failed`.
        errorCause:
          type: string
          description: A stable failure category, when one was recorded.
      required:
        - emailId
        - title
        - status
        - updatedAt
        - group
        - previewStatus
      additionalProperties: false
    EmailGroupSummary:
      type: object
      properties:
        groupId:
          type: string
          minLength: 1
          maxLength: 64
        groupName:
          type: string
          minLength: 1
          maxLength: 60
        emailCount:
          type: integer
          minimum: 0
      required:
        - groupId
        - groupName
        - emailCount
      additionalProperties: false
    Send:
      type: object
      properties:
        sendId:
          type: string
          minLength: 1
        kind:
          type: string
          enum:
            - campaign
            - automation
        messageClass:
          type: string
          enum:
            - marketing
            - transactional
        automationId:
          type: string
          minLength: 1
        nodeId:
          type: string
          minLength: 1
        automationRunId:
          type: string
          minLength: 1
        audienceRunId:
          type: string
          minLength: 1
        triggerInstanceId:
          type: string
          minLength: 1
        emailId:
          type: string
          minLength: 1
        emailVersionId:
          type: string
          minLength: 1
        status:
          type: string
          enum:
            - scheduled
            - queued
            - running
            - paused
            - completed
            - partially_completed
            - failed
            - canceled
        approvalState:
          type: string
          enum:
            - pending
            - approved
            - rejected
        subject:
          type: string
        previewText:
          type: string
        from:
          type: object
          properties:
            email:
              type: string
              format: email
              description: Full from address; its host must be the domain named by `domainId`.
            name:
              type: string
              minLength: 1
              maxLength: 128
              description: Sender display name.
          required:
            - email
          additionalProperties: false
        replyTo:
          type: string
        domainId:
          type: string
        audienceId:
          type: string
          minLength: 1
        audienceName:
          type: string
          minLength: 1
        recipientCount:
          type: integer
          minimum: 0
        scheduledAt:
          type: string
          format: date-time
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        failedAt:
          type: string
          format: date-time
        error:
          type: string
        stats:
          type: object
          properties:
            sent:
              type: integer
              minimum: 0
            delivered:
              type: integer
              minimum: 0
            opened:
              type: integer
              minimum: 0
            clicked:
              type: integer
              minimum: 0
            bounced:
              type: integer
              minimum: 0
            complained:
              type: integer
              minimum: 0
            unsubscribed:
              type: integer
              minimum: 0
          required:
            - sent
            - delivered
            - opened
            - clicked
            - bounced
            - complained
            - unsubscribed
          additionalProperties: false
        delivery:
          type: object
          properties:
            accepted:
              type: integer
              minimum: 0
            pending:
              type: integer
              minimum: 0
            delayed:
              type: integer
              minimum: 0
            delivered:
              type: integer
              minimum: 0
            bounced:
              type: integer
              minimum: 0
            failed:
              type: integer
              minimum: 0
            providerSuppressed:
              type: integer
              minimum: 0
            preSendSkipped:
              type: integer
              minimum: 0
            renderFailed:
              type: integer
              minimum: 0
            updatedAt:
              type: string
              format: date-time
          required:
            - accepted
            - pending
            - delayed
            - delivered
            - bounced
            - failed
            - providerSuppressed
            - preSendSkipped
            - renderFailed
            - updatedAt
          additionalProperties: false
        gradualSend:
          type: object
          properties:
            startingPercentage:
              type: number
              minimum: 0.1
              maximum: 100
            incrementPercentage:
              type: number
              minimum: 0
              maximum: 100
            interval:
              oneOf:
                - type: object
                  properties:
                    value:
                      type: integer
                      minimum: 1
                      maximum: 24
                    unit:
                      type: string
                      enum:
                        - hour
                  required:
                    - value
                    - unit
                  additionalProperties: false
                - type: object
                  properties:
                    value:
                      type: integer
                      minimum: 1
                      maximum: 30
                    unit:
                      type: string
                      enum:
                        - day
                  required:
                    - value
                    - unit
                  additionalProperties: false
            timeZone:
              type: string
              minLength: 1
              description: IANA timezone used to preserve local wall-clock time for day intervals.
            rampEndsAt:
              type: string
              format: date-time
            currentTranche:
              type: integer
              exclusiveMinimum: 0
            sentSoFar:
              type: integer
              minimum: 0
            pausedAt:
              type: string
              format: date-time
            pauseReason:
              type: string
              enum:
                - manual
            resumedAt:
              type: string
              format: date-time
          required:
            - startingPercentage
            - incrementPercentage
            - interval
            - timeZone
          additionalProperties: false
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        events:
          type: array
          items:
            type: object
            properties:
              eventType:
                type: string
                enum:
                  - sent
                  - delivered
                  - delivery_delayed
                  - opened
                  - clicked
                  - bounced
                  - complained
                  - failed
                  - provider_suppressed
                  - suppressed
                  - quota_skipped
                  - received
                  - unsubscribed
              occurredAt:
                type: string
                format: date-time
              recipientEmail:
                type: string
              url:
                type: string
              machineGenerated:
                type: boolean
              clickBotReason:
                type: string
            required:
              - eventType
              - occurredAt
            additionalProperties: false
      required:
        - sendId
        - kind
        - emailId
        - status
        - createdAt
        - updatedAt
      additionalProperties: false
    SendEvent:
      type: object
      properties:
        eventType:
          type: string
          enum:
            - sent
            - delivered
            - delivery_delayed
            - opened
            - clicked
            - bounced
            - complained
            - failed
            - provider_suppressed
            - suppressed
            - quota_skipped
            - received
            - unsubscribed
        occurredAt:
          type: string
          format: date-time
        recipientEmail:
          type: string
        url:
          type: string
        machineGenerated:
          type: boolean
        clickBotReason:
          type: string
      required:
        - eventType
        - occurredAt
      additionalProperties: false
    AutomationNode:
      oneOf:
        - type: object
          properties:
            id:
              type: string
              minLength: 1
            label:
              type: string
              minLength: 1
            description:
              type: string
            type:
              type: string
              enum:
                - trigger
            config:
              anyOf:
                - type: object
                  properties:
                    actionType:
                      type: string
                    eventName:
                      type: string
                    mode:
                      type: string
                      enum:
                        - event
                    triggerEventId:
                      type: string
                  additionalProperties: false
                - type: object
                  properties:
                    actionType:
                      type: string
                    eventName:
                      type: string
                    mode:
                      type: string
                      enum:
                        - manualAudience
                    audienceId:
                      type: string
                  required:
                    - mode
                    - audienceId
                  additionalProperties: false
          required:
            - id
            - label
            - type
            - config
          additionalProperties: false
        - type: object
          properties:
            id:
              type: string
              minLength: 1
            label:
              type: string
              minLength: 1
            description:
              type: string
            type:
              type: string
              enum:
                - sendEmail
            config:
              type: object
              properties:
                actionType:
                  type: string
                  description: Informational duplicate of node.type; ignored.
                emailId:
                  type: string
                  minLength: 1
                  description: Email design id — required for sendEmail.
                emailVersionId:
                  type: string
                  minLength: 1
                  description: Exact email version id for deterministic delivery — required.
                domainId:
                  type: string
                  minLength: 1
                  description: 'Owned sending-domain id — optional at authoring; required, and verified (sendable: true), at publish and on every live run. A marketing domain enforces the unsubscribe link; a sendingPurpose "transactional" domain skips it and delivers even to unsubscribed contacts, so choose one only for genuinely transactional flows (receipts, password resets).'
                subject:
                  type: string
                  minLength: 1
                  description: Inbox subject — required. Supports {{var | fallback}} interpolation.
                previewText:
                  type: string
                  description: Inbox preheader — optional; the email design's <Preview> is the source of truth and wins when present.
                fromName:
                  type: string
                  minLength: 1
                  description: Sender display name; resolved from the domain default when unset.
                replyTo:
                  type: string
                  format: email
                  description: Reply-to address; resolved from the domain default when unset.
                emailTitle:
                  type: string
                  description: Informational email title mirror; tolerated for round-trips.
                fromAddress:
                  type: string
                  description: Sender address on a verified sending domain; resolved from the domain default when unset.
              required:
                - emailId
                - emailVersionId
                - subject
              additionalProperties: false
          required:
            - id
            - label
            - type
            - config
          additionalProperties: false
        - type: object
          properties:
            id:
              type: string
              minLength: 1
            label:
              type: string
              minLength: 1
            description:
              type: string
            type:
              type: string
              enum:
                - wait
            config:
              type: object
              properties:
                actionType:
                  type: string
                duration:
                  type: number
                unit:
                  type: string
                  enum:
                    - ms
                    - seconds
                    - minutes
                    - hours
                    - days
                    - weeks
              required:
                - duration
                - unit
          required:
            - id
            - label
            - type
            - config
          additionalProperties: false
        - type: object
          properties:
            id:
              type: string
              minLength: 1
            label:
              type: string
              minLength: 1
            description:
              type: string
            type:
              type: string
              enum:
                - filter
            config:
              anyOf:
                - type: object
                  properties:
                    actionType:
                      type: string
                    mode:
                      type: string
                      enum:
                        - payload
                    logicalOperator:
                      type: string
                      enum:
                        - AND
                        - OR
                    conditions:
                      type: array
                      items:
                        anyOf:
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: "Trigger payload field reference: a bare name, a dot path, or a bracket-indexed list element — for example trackingNumber, order.total, or items[0].sku."
                              type:
                                type: string
                                enum:
                                  - string
                              operator:
                                type: string
                                enum:
                                  - equals
                                  - not_equals
                                  - contains
                                  - not_contains
                                  - starts_with
                                  - ends_with
                              value:
                                type: string
                                description: String value to compare against.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: "Trigger payload field reference: a bare name, a dot path, or a bracket-indexed list element — for example trackingNumber, order.total, or items[0].sku."
                              type:
                                type: string
                                enum:
                                  - number
                              operator:
                                type: string
                                enum:
                                  - equals
                                  - not_equals
                                  - gt
                                  - gte
                                  - lt
                                  - lte
                              value:
                                type: number
                                description: Finite numeric value to compare against.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: "Trigger payload field reference: a bare name, a dot path, or a bracket-indexed list element — for example trackingNumber, order.total, or items[0].sku."
                              type:
                                type: string
                                enum:
                                  - date
                              operator:
                                type: string
                                enum:
                                  - equals
                                  - not_equals
                                  - gt
                                  - gte
                                  - lt
                                  - lte
                              value:
                                anyOf:
                                  - type: string
                                    minLength: 1
                                  - type: number
                                description: ISO date string or Unix timestamp in milliseconds to compare against.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: "Trigger payload field reference: a bare name, a dot path, or a bracket-indexed list element — for example trackingNumber, order.total, or items[0].sku."
                              type:
                                type: string
                                enum:
                                  - string
                              operator:
                                type: string
                                enum:
                                  - in
                                  - not_in
                                  - contains_any
                                  - not_contains_any
                              value:
                                type: array
                                items:
                                  type: string
                                  minLength: 1
                                minItems: 1
                                description: Non-empty array of string values to compare against.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: "Trigger payload field reference: a bare name, a dot path, or a bracket-indexed list element — for example trackingNumber, order.total, or items[0].sku."
                              type:
                                type: string
                                enum:
                                  - number
                              operator:
                                type: string
                                enum:
                                  - in
                                  - not_in
                              value:
                                type: array
                                items:
                                  type: number
                                minItems: 1
                                description: Non-empty array of finite numbers to compare against.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: "Trigger payload field reference: a bare name, a dot path, or a bracket-indexed list element — for example trackingNumber, order.total, or items[0].sku."
                              type:
                                type: string
                                enum:
                                  - number
                              operator:
                                type: string
                                enum:
                                  - between
                              value:
                                type: array
                                prefixItems:
                                  - type: number
                                  - type: number
                                description: Inclusive [minimum, maximum] numeric bounds.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: "Trigger payload field reference: a bare name, a dot path, or a bracket-indexed list element — for example trackingNumber, order.total, or items[0].sku."
                              type:
                                type: string
                                enum:
                                  - date
                              operator:
                                type: string
                                enum:
                                  - between
                              value:
                                type: array
                                prefixItems:
                                  - anyOf:
                                      - type: string
                                        minLength: 1
                                      - type: number
                                  - anyOf:
                                      - type: string
                                        minLength: 1
                                      - type: number
                                description: Inclusive [start, end] ISO-date or Unix-millisecond timestamp bounds.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: "Trigger payload field reference: a bare name, a dot path, or a bracket-indexed list element — for example trackingNumber, order.total, or items[0].sku."
                              type:
                                type: string
                                enum:
                                  - string
                              operator:
                                type: string
                                enum:
                                  - is_empty
                                  - is_not_empty
                                description: Unary empty check; do not provide a value.
                            required:
                              - field
                              - type
                              - operator
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: "Trigger payload field reference: a bare name, a dot path, or a bracket-indexed list element — for example trackingNumber, order.total, or items[0].sku."
                              type:
                                type: string
                                enum:
                                  - number
                              operator:
                                type: string
                                enum:
                                  - is_empty
                                  - is_not_empty
                                description: Unary empty check; do not provide a value.
                            required:
                              - field
                              - type
                              - operator
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: "Trigger payload field reference: a bare name, a dot path, or a bracket-indexed list element — for example trackingNumber, order.total, or items[0].sku."
                              type:
                                type: string
                                enum:
                                  - date
                              operator:
                                type: string
                                enum:
                                  - is_empty
                                  - is_not_empty
                                description: Unary empty check; do not provide a value.
                            required:
                              - field
                              - type
                              - operator
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: "Trigger payload field reference: a bare name, a dot path, or a bracket-indexed list element — for example trackingNumber, order.total, or items[0].sku."
                              type:
                                type: string
                                enum:
                                  - bool
                              operator:
                                type: string
                                enum:
                                  - is_true
                                  - is_false
                                description: Unary boolean check; do not provide a value.
                            required:
                              - field
                              - type
                              - operator
                            additionalProperties: false
                      minItems: 1
                  required:
                    - logicalOperator
                    - conditions
                  additionalProperties: false
                - type: object
                  properties:
                    actionType:
                      type: string
                    mode:
                      type: string
                      enum:
                        - engagement
                    sourceNodeId:
                      type: string
                      minLength: 1
                      description: Id of the upstream sendEmail node this filter watches for opens/clicks.
                    window:
                      type: object
                      properties:
                        duration:
                          type: number
                          minimum: 0
                        unit:
                          type: string
                          enum:
                            - ms
                            - seconds
                            - minutes
                            - hours
                            - days
                            - weeks
                      required:
                        - duration
                        - unit
                      additionalProperties: false
                    branches:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          label:
                            type: string
                          condition:
                            type: object
                            properties:
                              kind:
                                type: string
                                enum:
                                  - engaged
                                  - not_engaged
                                  - clicked_link
                              events:
                                type: string
                                enum:
                                  - opened
                                  - clicked
                                  - opened_or_clicked
                              url:
                                type: string
                              position:
                                type: string
                                enum:
                                  - any
                                  - first
                                  - last
                            required:
                              - kind
                        required:
                          - id
                          - condition
                      minItems: 1
                  required:
                    - mode
                    - sourceNodeId
                    - window
                    - branches
                  additionalProperties: false
          required:
            - id
            - label
            - type
            - config
          additionalProperties: false
        - type: object
          properties:
            id:
              type: string
              minLength: 1
            label:
              type: string
              minLength: 1
            description:
              type: string
            type:
              type: string
              enum:
                - split
            config:
              oneOf:
                - type: object
                  properties:
                    actionType:
                      type: string
                    mode:
                      type: string
                      enum:
                        - percentage
                    leftLabel:
                      type: string
                    rightLabel:
                      type: string
                    leftPercentage:
                      type: number
                      minimum: 0
                      maximum: 100
                    seed:
                      type: string
                  required:
                    - mode
                    - leftLabel
                    - rightLabel
                    - leftPercentage
                  additionalProperties: false
                - type: object
                  properties:
                    actionType:
                      type: string
                    mode:
                      type: string
                      enum:
                        - condition
                    leftLabel:
                      type: string
                    rightLabel:
                      type: string
                    logicalOperator:
                      type: string
                      enum:
                        - AND
                        - OR
                    conditions:
                      type: array
                      items:
                        anyOf:
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: "Trigger payload field reference: a bare name, a dot path, or a bracket-indexed list element — for example trackingNumber, order.total, or items[0].sku."
                              type:
                                type: string
                                enum:
                                  - string
                              operator:
                                type: string
                                enum:
                                  - equals
                                  - not_equals
                                  - contains
                                  - not_contains
                                  - starts_with
                                  - ends_with
                              value:
                                type: string
                                description: String value to compare against.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: "Trigger payload field reference: a bare name, a dot path, or a bracket-indexed list element — for example trackingNumber, order.total, or items[0].sku."
                              type:
                                type: string
                                enum:
                                  - number
                              operator:
                                type: string
                                enum:
                                  - equals
                                  - not_equals
                                  - gt
                                  - gte
                                  - lt
                                  - lte
                              value:
                                type: number
                                description: Finite numeric value to compare against.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: "Trigger payload field reference: a bare name, a dot path, or a bracket-indexed list element — for example trackingNumber, order.total, or items[0].sku."
                              type:
                                type: string
                                enum:
                                  - date
                              operator:
                                type: string
                                enum:
                                  - equals
                                  - not_equals
                                  - gt
                                  - gte
                                  - lt
                                  - lte
                              value:
                                anyOf:
                                  - type: string
                                    minLength: 1
                                  - type: number
                                description: ISO date string or Unix timestamp in milliseconds to compare against.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: "Trigger payload field reference: a bare name, a dot path, or a bracket-indexed list element — for example trackingNumber, order.total, or items[0].sku."
                              type:
                                type: string
                                enum:
                                  - string
                              operator:
                                type: string
                                enum:
                                  - in
                                  - not_in
                                  - contains_any
                                  - not_contains_any
                              value:
                                type: array
                                items:
                                  type: string
                                  minLength: 1
                                minItems: 1
                                description: Non-empty array of string values to compare against.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: "Trigger payload field reference: a bare name, a dot path, or a bracket-indexed list element — for example trackingNumber, order.total, or items[0].sku."
                              type:
                                type: string
                                enum:
                                  - number
                              operator:
                                type: string
                                enum:
                                  - in
                                  - not_in
                              value:
                                type: array
                                items:
                                  type: number
                                minItems: 1
                                description: Non-empty array of finite numbers to compare against.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: "Trigger payload field reference: a bare name, a dot path, or a bracket-indexed list element — for example trackingNumber, order.total, or items[0].sku."
                              type:
                                type: string
                                enum:
                                  - number
                              operator:
                                type: string
                                enum:
                                  - between
                              value:
                                type: array
                                prefixItems:
                                  - type: number
                                  - type: number
                                description: Inclusive [minimum, maximum] numeric bounds.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: "Trigger payload field reference: a bare name, a dot path, or a bracket-indexed list element — for example trackingNumber, order.total, or items[0].sku."
                              type:
                                type: string
                                enum:
                                  - date
                              operator:
                                type: string
                                enum:
                                  - between
                              value:
                                type: array
                                prefixItems:
                                  - anyOf:
                                      - type: string
                                        minLength: 1
                                      - type: number
                                  - anyOf:
                                      - type: string
                                        minLength: 1
                                      - type: number
                                description: Inclusive [start, end] ISO-date or Unix-millisecond timestamp bounds.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: "Trigger payload field reference: a bare name, a dot path, or a bracket-indexed list element — for example trackingNumber, order.total, or items[0].sku."
                              type:
                                type: string
                                enum:
                                  - string
                              operator:
                                type: string
                                enum:
                                  - is_empty
                                  - is_not_empty
                                description: Unary empty check; do not provide a value.
                            required:
                              - field
                              - type
                              - operator
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: "Trigger payload field reference: a bare name, a dot path, or a bracket-indexed list element — for example trackingNumber, order.total, or items[0].sku."
                              type:
                                type: string
                                enum:
                                  - number
                              operator:
                                type: string
                                enum:
                                  - is_empty
                                  - is_not_empty
                                description: Unary empty check; do not provide a value.
                            required:
                              - field
                              - type
                              - operator
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: "Trigger payload field reference: a bare name, a dot path, or a bracket-indexed list element — for example trackingNumber, order.total, or items[0].sku."
                              type:
                                type: string
                                enum:
                                  - date
                              operator:
                                type: string
                                enum:
                                  - is_empty
                                  - is_not_empty
                                description: Unary empty check; do not provide a value.
                            required:
                              - field
                              - type
                              - operator
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: "Trigger payload field reference: a bare name, a dot path, or a bracket-indexed list element — for example trackingNumber, order.total, or items[0].sku."
                              type:
                                type: string
                                enum:
                                  - bool
                              operator:
                                type: string
                                enum:
                                  - is_true
                                  - is_false
                                description: Unary boolean check; do not provide a value.
                            required:
                              - field
                              - type
                              - operator
                            additionalProperties: false
                      minItems: 1
                  required:
                    - mode
                    - leftLabel
                    - rightLabel
                    - logicalOperator
                    - conditions
                  additionalProperties: false
          required:
            - id
            - label
            - type
            - config
          additionalProperties: false
    AutomationConnection:
      type: object
      properties:
        from:
          type: string
          minLength: 1
        to:
          type: string
          minLength: 1
        branch:
          type: string
          minLength: 1
      required:
        - from
        - to
      additionalProperties: false
    AutomationRow:
      type: object
      properties:
        automationId:
          type: string
          minLength: 1
          maxLength: 64
        automationVersionId:
          type: string
          minLength: 1
          maxLength: 64
        triggerEventId:
          type: string
          minLength: 1
          maxLength: 256
        name:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
          maxLength: 2000
        version:
          anyOf:
            - type: integer
              minimum: 0
            - type: string
              enum:
                - latest
        published:
          type: boolean
        isLive:
          type: boolean
        liveVersion:
          anyOf:
            - type: integer
              minimum: 0
            - type: string
              enum:
                - latest
        liveAutomationVersionId:
          type: string
          minLength: 1
          maxLength: 64
        warnings:
          type: array
          items:
            $ref: "#/components/schemas/ApiWarning"
        paused:
          type: boolean
        pausedAt:
          type: number
        nodes:
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - trigger
                  config:
                    anyOf:
                      - type: object
                        properties:
                          actionType:
                            type: string
                          eventName:
                            type: string
                          mode:
                            type: string
                            enum:
                              - event
                          triggerEventId:
                            type: string
                        additionalProperties: false
                      - type: object
                        properties:
                          actionType:
                            type: string
                          eventName:
                            type: string
                          mode:
                            type: string
                            enum:
                              - manualAudience
                          audienceId:
                            type: string
                        required:
                          - mode
                          - audienceId
                        additionalProperties: false
                required:
                  - id
                  - label
                  - type
                  - config
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - sendEmail
                  config:
                    type: object
                    properties:
                      actionType:
                        type: string
                      emailId:
                        type: string
                      emailVersionId:
                        type: string
                      emailTitle:
                        type: string
                      subject:
                        type: string
                      previewText:
                        type: string
                      fromName:
                        type: string
                      fromAddress:
                        type: string
                      domainId:
                        type: string
                      replyTo:
                        type: string
                      to: {}
                      html:
                        type: string
                      variables:
                        type: object
                        additionalProperties: {}
                required:
                  - id
                  - label
                  - type
                  - config
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - wait
                  config:
                    type: object
                    properties:
                      actionType:
                        type: string
                      duration:
                        type: number
                      unit:
                        type: string
                        enum:
                          - ms
                          - seconds
                          - minutes
                          - hours
                          - days
                          - weeks
                    required:
                      - duration
                      - unit
                required:
                  - id
                  - label
                  - type
                  - config
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - filter
                  config:
                    anyOf:
                      - type: object
                        properties:
                          actionType:
                            type: string
                          mode:
                            type: string
                            enum:
                              - payload
                          logicalOperator:
                            type: string
                            enum:
                              - AND
                              - OR
                          conditions:
                            type: array
                            items:
                              type: object
                              properties:
                                field:
                                  type: string
                                operator:
                                  type: string
                                value:
                                  anyOf:
                                    - type: string
                                    - type: number
                                    - type: boolean
                                    - type: array
                                      items:
                                        anyOf:
                                          - type: string
                                          - type: number
                                type:
                                  type: string
                                  enum:
                                    - string
                                    - number
                                    - date
                                    - bool
                              required:
                                - field
                                - operator
                        required:
                          - logicalOperator
                          - conditions
                      - type: object
                        properties:
                          actionType:
                            type: string
                          mode:
                            type: string
                            enum:
                              - engagement
                          sourceNodeId:
                            type: string
                          window:
                            type: object
                            properties:
                              duration:
                                type: number
                              unit:
                                type: string
                                enum:
                                  - ms
                                  - seconds
                                  - minutes
                                  - hours
                                  - days
                                  - weeks
                            required:
                              - duration
                              - unit
                          branches:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                label:
                                  type: string
                                condition:
                                  type: object
                                  properties:
                                    kind:
                                      type: string
                                      enum:
                                        - engaged
                                        - not_engaged
                                        - clicked_link
                                    events:
                                      type: string
                                      enum:
                                        - opened
                                        - clicked
                                        - opened_or_clicked
                                    url:
                                      type: string
                                    position:
                                      type: string
                                      enum:
                                        - any
                                        - first
                                        - last
                                  required:
                                    - kind
                              required:
                                - id
                                - condition
                        required:
                          - mode
                          - sourceNodeId
                          - window
                          - branches
                required:
                  - id
                  - label
                  - type
                  - config
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - split
                  config:
                    oneOf:
                      - type: object
                        properties:
                          actionType:
                            type: string
                          mode:
                            type: string
                            enum:
                              - percentage
                          leftLabel:
                            type: string
                          rightLabel:
                            type: string
                          leftPercentage:
                            type: number
                          seed:
                            type: string
                        required:
                          - mode
                          - leftLabel
                          - rightLabel
                          - leftPercentage
                      - type: object
                        properties:
                          actionType:
                            type: string
                          mode:
                            type: string
                            enum:
                              - condition
                          leftLabel:
                            type: string
                          rightLabel:
                            type: string
                          logicalOperator:
                            type: string
                            enum:
                              - AND
                              - OR
                          conditions:
                            type: array
                            items:
                              type: object
                              properties:
                                field:
                                  type: string
                                operator:
                                  type: string
                                value:
                                  anyOf:
                                    - type: string
                                    - type: number
                                    - type: boolean
                                    - type: array
                                      items:
                                        anyOf:
                                          - type: string
                                          - type: number
                                type:
                                  type: string
                                  enum:
                                    - string
                                    - number
                                    - date
                                    - bool
                              required:
                                - field
                                - operator
                        required:
                          - mode
                          - leftLabel
                          - rightLabel
                          - logicalOperator
                          - conditions
                required:
                  - id
                  - label
                  - type
                  - config
        connections:
          type: array
          items:
            type: object
            properties:
              from:
                type: string
                minLength: 1
              to:
                type: string
                minLength: 1
              branch:
                type: string
            required:
              - from
              - to
        emailIds:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 64
        createdBy:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        publishedAt:
          type: string
          format: date-time
        versions:
          type: array
          items:
            type: object
            properties:
              version:
                anyOf:
                  - type: integer
                    minimum: 0
                  - type: string
                    enum:
                      - latest
              automationVersionId:
                type: string
                minLength: 1
                maxLength: 64
            required:
              - version
              - automationVersionId
            additionalProperties: false
      required:
        - automationId
        - automationVersionId
        - name
        - version
        - published
        - emailIds
      additionalProperties: false
    ApiWarning:
      type: object
      properties:
        code:
          type: string
          enum:
            - DRAFT_SAVED_NOT_LIVE
            - ENFORCEMENT_LOOSENED_WHILE_PUBLISHED
            - REQUIRED_FIELD_SATISFIED_BY_FALLBACK
            - RESUBSCRIBE_SKIPPED
            - RECIPIENTS_EXCLUDED
            - CONSENT_RECORD_MISSING
        message:
          type: string
        field:
          type: string
      required:
        - code
        - message
      additionalProperties: false
    AutomationDryRunReport:
      type: object
      properties:
        valid:
          type: boolean
          description: Whether the graph would publish cleanly. false when any `blockers[]` entry or any `blockingIssues[]` entry is present.
        blockers:
          type: array
          items:
            type: object
            properties:
              nodeId:
                type: string
                description: Id of the offending node. Absent on graph-level findings.
              nodeLabel:
                type: string
                description: Label of the offending node. Absent on graph-level findings.
              severity:
                type: string
                enum:
                  - error
                  - warning
              message:
                type: string
                description: Human-readable description of the finding.
            required:
              - severity
              - message
            additionalProperties: false
          description: 'Publish blockers (`severity: "error"`). Publishing fails while any remain.'
        warnings:
          type: array
          items:
            type: object
            properties:
              nodeId:
                type: string
                description: Id of the offending node. Absent on graph-level findings.
              nodeLabel:
                type: string
                description: Label of the offending node. Absent on graph-level findings.
              severity:
                type: string
                enum:
                  - error
                  - warning
              message:
                type: string
                description: Human-readable description of the finding.
            required:
              - severity
              - message
            additionalProperties: false
          description: 'Advisory findings (`severity: "warning"`). Publishing succeeds despite them.'
        blockingIssues:
          type: array
          items:
            type: object
            properties:
              nodeId:
                type: string
              nodeLabel:
                type: string
              surface:
                type: string
                enum:
                  - triggerBinding
                  - subject
                  - previewText
                  - fromName
                  - replyTo
                  - emailBody
                  - filterCondition
                  - splitCondition
                description: Where on the node the orphaned reference lives.
              variable:
                type: string
                description: The bare variable / field name that cannot be resolved.
              reason:
                type: string
                description: Short user-facing reason.
              fatal:
                type: boolean
                description: "true — filter/split conditions and triple-brace `{{{ }}}` body tokens: the run genuinely breaks, and publish fails. false — subject/previewText/fromName/replyTo and double-brace body tags: the value renders empty at send time; advisory only."
              hasFallback:
                type: boolean
                description: The token carries an inline `{{ name | fallback }}` fallback, so it renders the fallback rather than empty. Never blocks publish.
            required:
              - nodeId
              - nodeLabel
              - surface
              - variable
              - reason
              - fatal
              - hasFallback
            additionalProperties: false
          description: Trigger-payload / draft-variable compatibility findings. Present (possibly empty) on POST and PATCH dry-run responses. `valid` is false when any entry is present.
        nodeCounts:
          type: object
          properties:
            sendEmail:
              type: integer
              minimum: 0
            wait:
              type: integer
              minimum: 0
            filter:
              type: integer
              minimum: 0
            split:
              type: integer
              minimum: 0
          required:
            - sendEmail
            - wait
            - filter
            - split
          additionalProperties: false
          description: Per-kind node counts of the validated graph.
      required:
        - valid
        - blockers
        - warnings
        - nodeCounts
      additionalProperties: false
    AudienceRun:
      type: object
      properties:
        audienceRunId:
          type: string
        automationId:
          type: string
        automationName:
          type: string
        audienceId:
          type: string
        audienceName:
          type: string
        status:
          type: string
          enum:
            - queued
            - scheduled
            - running
            - paused
            - completed
            - failed
            - canceled
        approvalState:
          type: string
          enum:
            - pending
            - approved
            - rejected
        scheduledAt:
          type: string
          format: date-time
        totalRecipients:
          type: number
        sentCount:
          type: number
        failedCount:
          type: number
        skippedCount:
          type: number
        nodeStats:
          type: array
          items:
            type: object
            properties:
              nodeId:
                type: string
              nodeType:
                type: string
              status:
                type: string
                enum:
                  - running
                  - completed
                  - failed
              entered:
                type: number
              sent:
                type: number
              failed:
                type: number
              skipped:
                type: number
              startedAt:
                type: string
                format: date-time
              completedAt:
                type: string
                format: date-time
            required:
              - nodeId
              - nodeType
        gradualSend:
          type: object
          properties:
            startingPercentage:
              type: number
              minimum: 0.1
              maximum: 100
            incrementPercentage:
              type: number
              minimum: 0
              maximum: 100
            interval:
              oneOf:
                - type: object
                  properties:
                    value:
                      type: integer
                      minimum: 1
                      maximum: 24
                    unit:
                      type: string
                      enum:
                        - hour
                  required:
                    - value
                    - unit
                  additionalProperties: false
                - type: object
                  properties:
                    value:
                      type: integer
                      minimum: 1
                      maximum: 30
                    unit:
                      type: string
                      enum:
                        - day
                  required:
                    - value
                    - unit
                  additionalProperties: false
            timeZone:
              type: string
              minLength: 1
              description: IANA timezone used to preserve local wall-clock time for day intervals.
            rampEndsAt:
              type: string
              format: date-time
            currentTranche:
              type: integer
              exclusiveMinimum: 0
            sentSoFar:
              type: integer
              minimum: 0
            pausedAt:
              type: string
              format: date-time
            pauseReason:
              type: string
              enum:
                - manual
            resumedAt:
              type: string
              format: date-time
          required:
            - startingPercentage
            - incrementPercentage
            - interval
            - timeZone
          additionalProperties: false
        error:
          type: string
        stalledAt:
          type: string
          format: date-time
        resumeGeneration:
          type: number
        resumedAt:
          type: string
          format: date-time
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - audienceRunId
        - automationId
        - audienceId
        - status
        - createdAt
        - updatedAt
    AutomationRunRow:
      type: object
      properties:
        automationRunId:
          type: string
          minLength: 1
          maxLength: 64
        automationId:
          type: string
          minLength: 1
          maxLength: 64
        automationVersionId:
          type: string
          minLength: 1
          maxLength: 64
        definitionHash:
          type: string
          minLength: 64
          maxLength: 64
        triggerInstanceId:
          type: string
          minLength: 4
          maxLength: 64
        mode:
          type: string
          enum:
            - live
            - test
        status:
          type: string
          enum:
            - queued
            - running
            - completed
            - failed
            - canceled
        recipientEmail:
          type: string
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        error:
          type: string
      required:
        - automationRunId
        - automationId
        - mode
        - status
      additionalProperties: false
    AutomationRunLogRow:
      type: object
      properties:
        automationRunId:
          type: string
          minLength: 1
          maxLength: 64
        nodeId:
          type: string
          minLength: 1
        nodeName:
          type: string
          minLength: 1
        nodeType:
          type: string
          enum:
            - trigger
            - wait
            - filter
            - split
            - sendEmail
        status:
          type: string
          enum:
            - running
            - completed
            - failed
            - skipped
        orderIndex:
          type: integer
          minimum: 0
        branch:
          type: string
          minLength: 1
        durationMs:
          type: integer
          minimum: 0
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        error:
          type: string
      required:
        - automationRunId
        - nodeId
        - nodeName
        - nodeType
        - status
        - orderIndex
        - startedAt
      additionalProperties: false
    TriggerRow:
      type: object
      properties:
        triggerEventId:
          type: string
          minLength: 1
          maxLength: 256
        title:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
          maxLength: 2000
        provider:
          type: string
          enum:
            - brew_api
            - clerk
            - stripe
            - shopify
            - stytch
            - supabase
            - workos
            - framer
            - revenuecat
            - custom
        providerEventKey:
          type: string
        payloadSchema:
          type: object
          properties:
            type:
              type: string
              enum:
                - object
            fields:
              type: array
              items:
                $ref: "#/components/schemas/TriggerPayloadField"
          required:
            - type
            - fields
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        skill:
          type: string
      required:
        - triggerEventId
        - title
        - provider
        - payloadSchema
        - createdAt
        - updatedAt
      additionalProperties: false
    TriggerPayloadField:
      type: object
      properties:
        key:
          type: string
          minLength: 1
          description: Variable name used by emails and automations, e.g. email or firstName. Prefer self-descriptive keys; this column has no separate description field.
        type:
          type: string
          enum:
            - string
            - int
            - boolean
            - object
            - array
        required:
          type: boolean
          description: True when the inbound payload must carry this key for the trigger to fire.
        fallbackValue:
          anyOf:
            - type: string
            - type: number
            - type: boolean
          description: Substitution value when the inbound payload is missing this field. Also used as the email agent's `e.g. {{ key | fallback }}` example. Scalar leaves only.
        pii:
          type: string
          enum:
            - none
            - low
            - high
          description: PII classification for redaction. "high" auto-redacts the value in execution logs and the inbound log. "low" (default when omitted) preserves the value. "none" is an explicit marker that the field is non-personal. On a container, "high" redacts the whole subtree.
        children:
          type: array
          items:
            $ref: "#/components/schemas/TriggerPayloadField"
          description: Nested field nodes for type "object", or the element shape for an array of objects. Emails reference nested leaves as dotted paths ({{ order.total }}) and arrays via {% for %}.
        itemType:
          type: string
          enum:
            - string
            - int
            - boolean
          description: Element type for a type "array" of scalars. Omit when the array carries objects (declare `children` instead).
      required:
        - key
        - type
        - required
    TriggerInstance:
      type: object
      properties:
        triggerInstanceId:
          type: string
          minLength: 1
        source:
          type: string
          enum:
            - api
            - integration
        provider:
          type: string
        triggerEventId:
          type: string
          minLength: 1
          maxLength: 256
        state:
          type: string
          enum:
            - received
            - verified
            - matched
            - partially_fired
            - fired
            - rejected
            - dead_letter
        matchedAutomationIds:
          type: array
          items:
            type: string
        automationRunIds:
          type: array
          items:
            type: string
        rejectionReason:
          type: string
        attempts:
          type: integer
          minimum: 0
        receivedAt:
          type: string
          format: date-time
        processedAt:
          type: string
          format: date-time
      required:
        - triggerInstanceId
        - source
        - state
        - matchedAutomationIds
        - automationRunIds
        - attempts
        - receivedAt
      additionalProperties: false
    Contact:
      type: object
      properties:
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        subscribed:
          type: boolean
          default: true
        consent:
          type: object
          properties:
            source:
              type: string
              enum:
                - api
                - form
                - import
                - app
              description: "Who captured it: `api` (an API caller asserted it), `form` (a signup form), `import` (a bulk import), `app` (the in-app CSV wizard checkbox)."
            capturedAt:
              type: string
              format: date-time
              description: When it was captured.
            policyVersion:
              type: string
              description: The policy or terms version in force when it was captured.
            evidence:
              type: string
              description: "Free-text evidence: a form URL, a ticket, a checkbox label."
          required:
            - source
            - capturedAt
          additionalProperties: false
        validationStatus:
          type: string
          enum:
            - valid
            - risky
            - invalid
          description: "The latest verdict. `valid` only ever comes from a deliverability check (`validate: true` on ingest, or POST /v1/contacts/validate), which also sets `lastValidatedAt`. Without a check the free format check on ingest stores `risky` (disposable or role address) or `invalid`, and leaves the field unset otherwise: not validated."
        suppressed:
          type: boolean
          default: false
        suppressedReason:
          type:
            - string
            - "null"
        lastValidatedAt:
          type: string
          format: date-time
        validationDetails:
          type: object
          properties:
            provider:
              type: string
              enum:
                - brew
            reason:
              type: string
            didYouMean:
              type: string
            risk:
              type: string
            isDisposable:
              type: boolean
            isRole:
              type: boolean
          required:
            - provider
          additionalProperties: false
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        importId:
          type:
            - string
            - "null"
        csvFileName:
          type:
            - string
            - "null"
        customFields:
          type: object
          additionalProperties: {}
          default: {}
      required:
        - email
        - createdAt
        - updatedAt
      additionalProperties: false
    ContactFieldDefinition:
      type: object
      properties:
        fieldName:
          type: string
          minLength: 1
        fieldType:
          type: string
          enum:
            - string
            - number
            - date
            - bool
        label:
          type: string
        isCore:
          type: boolean
        isFilterable:
          type: boolean
        isSortable:
          type: boolean
        isSearchable:
          type: boolean
        coverage:
          type: object
          properties:
            percent:
              type: integer
              minimum: 0
              maximum: 100
            approximate:
              type: boolean
            topValues:
              type: array
              items:
                type: object
                properties:
                  value:
                    type: string
                  count:
                    type: integer
                    minimum: 0
                  percent:
[...]
