openapi: 3.1.0
info:
  title: Brew Public API v1
  version: 1.0.0
  description: |-
    Generated from the Brew app Zod contracts (`lib/<domain>/contracts.ts`). This file is the source of truth for the public API documentation.

    ## Resource paths

    Identity lives in the URL path (`/v1/analytics/sends/{sendId}`) — never in a query param or request body. Collections are plural top-level segments (`/v1/emails`); query params exist only for collection pagination + simple filters. Relationships are sub-resources (`/v1/emails/{emailId}/sends`), and non-CRUD operations are explicit action sub-paths (`/v1/automations/{automationId}/test`).

    ## Response envelopes

    - Lists: `{ data: Row[], pagination: { limit, cursor: string | null, hasMore } }` — loop `while (cursor !== null)`.
    - Get-one and writes: the bare resource (creates return `201`; async sends `202`).
    - Deletes: `{ <idField>, deleted: boolean }` — idempotent (already-gone ids resolve with `deleted: false`).
    - Errors: `{ error: { code, type, message, param?, suggestion, docs } }` — branch on the stable `code`.
    - ONE exception: `POST /v1/automations/triggers/{triggerEventId}/fire` responds with the legacy fire envelope `{ success, status, code, message, receivedAt, details }` (shared with internal webhook infrastructure).

    ## Brand scoping

    A credential is scoped either to ONE BRAND or to the whole ORGANIZATION.

    A brand-scoped credential resolves its brand automatically — send nothing. An organization-scoped credential must name the brand per request with the `X-Brand-Id` header; omitting it returns `400 BRAND_ID_REQUIRED`, because there is deliberately no default brand. Discover ids with `GET /v1/brands`.

    **No public endpoint accepts a `brandId` field** in its request body or query string — sending one returns `400 INVALID_REQUEST`. `X-Brand-Id` is a header, and the only way to name a brand.

    Resources that exist in a different brand surface as `404` (never `403`), so the API does not leak cross-brand existence; the same is true of an `X-Brand-Id` naming a brand outside your organization. `GET /v1/templates` is organization-wide. `/v1/brands` manages brands themselves and is organization-level, so it takes no `X-Brand-Id`.

    ## Idempotency

    Send an `Idempotency-Key` header (≤ 100 chars) on any POST your code might retry. Same key + same body within 24h returns the original response; same key + different body returns `409 IDEMPOTENCY_CONFLICT`.
  contact:
    name: Brew Support
    url: https://docs.brew.new
    email: support@brew.new
servers:
  - url: https://brew.new/api
    description: Production
  - url: http://localhost:3000/api
    description: Local development
security:
  - bearerAuth: []
  - apiKeyAuth: []
tags:
  - name: Emails
    description: "Email designs and sending. Generate a design with the Brew email agent, edit, version, restore — then send it: `POST /v1/sends` delivers a design to a target (a saved audience, an inline list, or a single address) via a verified domain, and `POST /v1/sends` with `test: true` fires a one-off test. Sending is not campaign-specific. Send reads (list, status, per-send event feeds) live under Analytics (`/v1/analytics/sends`)."
  - name: Brands
    description: "Brand lifecycle for ORGANIZATION-scoped credentials: list the brands a credential can reach, read one, and create a new one (extraction runs asynchronously — poll `GET /v1/brands/{brandId}` until `status: completed`). These endpoints act on the organization, so they take no `X-Brand-Id`."
  - name: Analytics
    description: "Read-only cross-resource analytics: lifetime per-campaign KPIs, windowed automation performance, the unified event feed, send reads (`/v1/analytics/sends`), and the fired-trigger audit log (`/v1/analytics/trigger-instances`)."
  - name: Automations
    description: Automation graphs — deterministic create from explicit `nodes` + `connections`, update, version, publish / unpublish, test. Includes trigger event definitions + the fire endpoint (`/v1/automations/triggers`) and run history (`/v1/automations/runs`).
  - name: Contacts
    description: Create, search, patch, and delete contacts. Email is the primary key.
  - name: Contact Fields
    description: List, create, and delete custom contact field definitions.
  - name: Audiences
    description: Saved contact filter sets — a recipient target for sends.
  - name: Domains
    description: "Sending domains: add, read DNS records, verify, configure sender defaults."
  - name: Templates
    description: Public template gallery (read-only) usable as generation references.
  - name: Brand
    description: The single brand bound to the API key.
  - name: Chats
    description: Read a brand-scoped digest of a Brew chat — referenced emails/automations/triggers + a trimmed transcript — so an external agent can resume the conversation.
  - name: Integrations
    description: Brand-scoped catalog of connectable providers plus which ones are already connected. Connect itself stays in Settings (`/integrations/{provider}`).
  - name: API Keys
    description: Mint, list, and revoke API keys. `POST` body `brandId` is the new key's binding (the only v1 body field named `brandId`). Organization-wide keys need an org-admin session or an organization-scoped credential.
  - name: Meta
    description: "Public discovery surface (no auth): the machine-readable API catalog (`/v1/help`)."
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: "Send your Brew API key as `Authorization: Bearer brew_xxx`."
      x-default: Bearer brew_your_api_key
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: "Send your Brew API key as `X-API-Key: brew_xxx`."
      x-default: brew_your_api_key
  schemas:
    EmailSummary:
      type: object
      properties:
        emailId:
          type: string
          minLength: 1
        emailVersionId:
          type: string
          minLength: 1
        title:
          type: string
          minLength: 1
        status:
          type: string
          enum:
            - streaming
            - complete
            - error
        previewImage:
          type: string
          format: uri
        updatedAt:
          type: string
          format: date-time
        subjectLine:
          type: string
          description: The design's default inbox subject, persisted on the latest version. Distinct from `title` (canvas name). Detail-only; absent on rows where it has never been set (via the write surfaces' `subjectLine` field, or in-app). `POST /v1/sends` still requires an explicit `subject`.
        previewText:
          type: string
          description: The design's inbox preview line, read directly from the latest version's JSX <Preview> (its single source of truth) — what a send delivers when no explicit `previewText` override is passed to POST /v1/sends. Detail-only; absent when the design has no <Preview>.
        html:
          type: string
        versions:
          type: array
          items:
            type: object
            properties:
              version:
                anyOf:
                  - type: integer
                    minimum: 0
                  - type: string
                    enum:
                      - latest
              emailVersionId:
                type: string
                minLength: 1
            required:
              - version
              - emailVersionId
            additionalProperties: false
        group:
          type:
            - object
            - "null"
          properties:
            groupId:
              type: string
              minLength: 1
              maxLength: 64
            groupName:
              type: string
              minLength: 1
              maxLength: 60
          required:
            - groupId
            - groupName
          additionalProperties: false
      required:
        - emailId
        - title
        - status
        - updatedAt
        - group
      additionalProperties: false
    EmailGroupSummary:
      type: object
      properties:
        groupId:
          type: string
          minLength: 1
          maxLength: 64
        groupName:
          type: string
          minLength: 1
          maxLength: 60
        emailCount:
          type: integer
          minimum: 0
      required:
        - groupId
        - groupName
        - emailCount
      additionalProperties: false
    Send:
      type: object
      properties:
        sendId:
          type: string
          minLength: 1
        kind:
          type: string
          enum:
            - campaign
            - automation
        messageClass:
          type: string
          enum:
            - marketing
            - transactional
        emailId:
          type: string
          minLength: 1
        emailVersionId:
          type: string
          minLength: 1
        status:
          type: string
          enum:
            - scheduled
            - queued
            - sending
            - paused
            - sent
            - partially_sent
            - failed
            - canceled
        approvalState:
          type: string
          enum:
            - pending
            - approved
            - rejected
        subject:
          type: string
        previewText:
          type: string
        fromAddress:
          type: string
        senderName:
          type: string
        replyTo:
          type: string
        domainId:
          type: string
        audienceId:
          type: string
          minLength: 1
        audienceName:
          type: string
          minLength: 1
        recipientCount:
          type: integer
          minimum: 0
        runId:
          type: string
          minLength: 1
        scheduledAt:
          type: string
          format: date-time
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        failedAt:
          type: string
          format: date-time
        error:
          type: string
        stats:
          type: object
          properties:
            sent:
              type: integer
              minimum: 0
            delivered:
              type: integer
              minimum: 0
            opened:
              type: integer
              minimum: 0
            clicked:
              type: integer
              minimum: 0
            bounced:
              type: integer
              minimum: 0
            complained:
              type: integer
              minimum: 0
            unsubscribed:
              type: integer
              minimum: 0
          required:
            - sent
            - delivered
            - opened
            - clicked
            - bounced
            - complained
            - unsubscribed
          additionalProperties: false
        delivery:
          type: object
          properties:
            accepted:
              type: integer
              minimum: 0
            pending:
              type: integer
              minimum: 0
            delayed:
              type: integer
              minimum: 0
            delivered:
              type: integer
              minimum: 0
            bounced:
              type: integer
              minimum: 0
            failed:
              type: integer
              minimum: 0
            providerSuppressed:
              type: integer
              minimum: 0
            preSendSkipped:
              type: integer
              minimum: 0
            renderFailed:
              type: integer
              minimum: 0
            updatedAt:
              type: string
              format: date-time
          required:
            - accepted
            - pending
            - delayed
            - delivered
            - bounced
            - failed
            - providerSuppressed
            - preSendSkipped
            - renderFailed
            - updatedAt
          additionalProperties: false
        gradualSend:
          type: object
          properties:
            startingPercentage:
              type: number
              minimum: 0.1
              maximum: 100
            incrementPercentage:
              type: number
              minimum: 0
              maximum: 100
            interval:
              oneOf:
                - type: object
                  properties:
                    value:
                      type: integer
                      minimum: 1
                      maximum: 24
                    unit:
                      type: string
                      enum:
                        - hour
                  required:
                    - value
                    - unit
                  additionalProperties: false
                - type: object
                  properties:
                    value:
                      type: integer
                      minimum: 1
                      maximum: 30
                    unit:
                      type: string
                      enum:
                        - day
                  required:
                    - value
                    - unit
                  additionalProperties: false
            timeZone:
              type: string
              minLength: 1
              description: IANA timezone used to preserve local wall-clock time for day intervals.
            rampEndsAt:
              type: string
              format: date-time
            currentTranche:
              type: integer
              exclusiveMinimum: 0
            sentSoFar:
              type: integer
              minimum: 0
            pausedAt:
              type: string
              format: date-time
            pauseReason:
              type: string
              enum:
                - manual
            resumedAt:
              type: string
              format: date-time
          required:
            - startingPercentage
            - incrementPercentage
            - interval
            - timeZone
          additionalProperties: false
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        events:
          type: array
          items:
            type: object
            properties:
              eventType:
                type: string
                enum:
                  - sent
                  - delivered
                  - delivery_delayed
                  - opened
                  - clicked
                  - bounced
                  - complained
                  - failed
                  - provider_suppressed
                  - suppressed
                  - quota_skipped
                  - received
                  - unsubscribed
              occurredAt:
                type: string
                format: date-time
              recipientEmail:
                type: string
              url:
                type: string
              machineGenerated:
                type: boolean
              clickBotReason:
                type: string
            required:
              - eventType
              - occurredAt
            additionalProperties: false
      required:
        - sendId
        - kind
        - emailId
        - status
        - createdAt
        - updatedAt
      additionalProperties: false
    SendEvent:
      type: object
      properties:
        eventType:
          type: string
          enum:
            - sent
            - delivered
            - delivery_delayed
            - opened
            - clicked
            - bounced
            - complained
            - failed
            - provider_suppressed
            - suppressed
            - quota_skipped
            - received
            - unsubscribed
        occurredAt:
          type: string
          format: date-time
        recipientEmail:
          type: string
        url:
          type: string
        machineGenerated:
          type: boolean
        clickBotReason:
          type: string
      required:
        - eventType
        - occurredAt
      additionalProperties: false
    AutomationNode:
      oneOf:
        - type: object
          properties:
            id:
              type: string
              minLength: 1
            label:
              type: string
              minLength: 1
            description:
              type: string
            type:
              type: string
              enum:
                - trigger
            config:
              anyOf:
                - type: object
                  properties:
                    actionType:
                      type: string
                    eventName:
                      type: string
                    mode:
                      type: string
                      enum:
                        - event
                    triggerEventId:
                      type: string
                  additionalProperties: false
                - type: object
                  properties:
                    actionType:
                      type: string
                    eventName:
                      type: string
                    mode:
                      type: string
                      enum:
                        - manualAudience
                    audienceId:
                      type: string
                  required:
                    - mode
                    - audienceId
                  additionalProperties: false
          required:
            - id
            - label
            - type
            - config
          additionalProperties: false
        - type: object
          properties:
            id:
              type: string
              minLength: 1
            label:
              type: string
              minLength: 1
            description:
              type: string
            type:
              type: string
              enum:
                - sendEmail
            config:
              type: object
              properties:
                actionType:
                  type: string
                  description: Informational duplicate of node.type; ignored.
                emailId:
                  type: string
                  minLength: 1
                  description: Email design id — required for sendEmail.
                emailVersionId:
                  type: string
                  minLength: 1
                  description: Exact email version id for deterministic delivery — required.
                domainId:
                  type: string
                  minLength: 1
                  description: Owned, verified sending-domain id — optional at authoring; required at publish / live run.
                subject:
                  type: string
                  minLength: 1
                  description: Inbox subject — required. Supports {{var | fallback}} interpolation.
                previewText:
                  type: string
                  description: Inbox preheader — optional; the email design's <Preview> is the source of truth and wins when present.
                fromName:
                  type: string
                  minLength: 1
                  description: Sender display name; resolved from the domain default when unset.
                replyTo:
                  type: string
                  format: email
                  description: Reply-to address; resolved from the domain default when unset.
                emailTitle:
                  type: string
                  description: Informational email title mirror; tolerated for round-trips.
                fromAddress:
                  type: string
                  description: Sender address on a verified sending domain; resolved from the domain default when unset.
              required:
                - emailId
                - emailVersionId
                - subject
              additionalProperties: false
          required:
            - id
            - label
            - type
            - config
          additionalProperties: false
        - type: object
          properties:
            id:
              type: string
              minLength: 1
            label:
              type: string
              minLength: 1
            description:
              type: string
            type:
              type: string
              enum:
                - wait
            config:
              type: object
              properties:
                actionType:
                  type: string
                duration:
                  type: number
                unit:
                  type: string
                  enum:
                    - ms
                    - seconds
                    - minutes
                    - hours
                    - days
                    - weeks
              required:
                - duration
                - unit
          required:
            - id
            - label
            - type
            - config
          additionalProperties: false
        - type: object
          properties:
            id:
              type: string
              minLength: 1
            label:
              type: string
              minLength: 1
            description:
              type: string
            type:
              type: string
              enum:
                - filter
            config:
              anyOf:
                - type: object
                  properties:
                    actionType:
                      type: string
                    mode:
                      type: string
                      enum:
                        - payload
                    logicalOperator:
                      type: string
                      enum:
                        - AND
                        - OR
                    conditions:
                      type: array
                      items:
                        anyOf:
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - string
                              operator:
                                type: string
                                enum:
                                  - equals
                                  - not_equals
                                  - contains
                                  - not_contains
                                  - starts_with
                                  - ends_with
                              value:
                                type: string
                                description: String value to compare against.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - number
                              operator:
                                type: string
                                enum:
                                  - equals
                                  - not_equals
                                  - gt
                                  - gte
                                  - lt
                                  - lte
                              value:
                                type: number
                                description: Finite numeric value to compare against.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - date
                              operator:
                                type: string
                                enum:
                                  - equals
                                  - not_equals
                                  - gt
                                  - gte
                                  - lt
                                  - lte
                              value:
                                anyOf:
                                  - type: string
                                    minLength: 1
                                  - type: number
                                description: ISO date string or Unix timestamp in milliseconds to compare against.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - string
                              operator:
                                type: string
                                enum:
                                  - in
                                  - not_in
                                  - contains_any
                                  - not_contains_any
                              value:
                                type: array
                                items:
                                  type: string
                                  minLength: 1
                                minItems: 1
                                description: Non-empty array of string values to compare against.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - number
                              operator:
                                type: string
                                enum:
                                  - in
                                  - not_in
                              value:
                                type: array
                                items:
                                  type: number
                                minItems: 1
                                description: Non-empty array of finite numbers to compare against.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - number
                              operator:
                                type: string
                                enum:
                                  - between
                              value:
                                type: array
                                prefixItems:
                                  - type: number
                                  - type: number
                                description: Inclusive [minimum, maximum] numeric bounds.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - date
                              operator:
                                type: string
                                enum:
                                  - between
                              value:
                                type: array
                                prefixItems:
                                  - anyOf:
                                      - type: string
                                        minLength: 1
                                      - type: number
                                  - anyOf:
                                      - type: string
                                        minLength: 1
                                      - type: number
                                description: Inclusive [start, end] ISO-date or Unix-millisecond timestamp bounds.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - string
                              operator:
                                type: string
                                enum:
                                  - is_empty
                                  - is_not_empty
                                description: Unary empty check; do not provide a value.
                            required:
                              - field
                              - type
                              - operator
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - number
                              operator:
                                type: string
                                enum:
                                  - is_empty
                                  - is_not_empty
                                description: Unary empty check; do not provide a value.
                            required:
                              - field
                              - type
                              - operator
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - date
                              operator:
                                type: string
                                enum:
                                  - is_empty
                                  - is_not_empty
                                description: Unary empty check; do not provide a value.
                            required:
                              - field
                              - type
                              - operator
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - bool
                              operator:
                                type: string
                                enum:
                                  - is_true
                                  - is_false
                                description: Unary boolean check; do not provide a value.
                            required:
                              - field
                              - type
                              - operator
                            additionalProperties: false
                      minItems: 1
                  required:
                    - logicalOperator
                    - conditions
                  additionalProperties: false
                - type: object
                  properties:
                    actionType:
                      type: string
                    mode:
                      type: string
                      enum:
                        - engagement
                    sourceNodeId:
                      type: string
                      minLength: 1
                      description: Id of the upstream sendEmail node this filter watches for opens/clicks.
                    window:
                      type: object
                      properties:
                        duration:
                          type: number
                          minimum: 0
                        unit:
                          type: string
                          enum:
                            - ms
                            - seconds
                            - minutes
                            - hours
                            - days
                            - weeks
                      required:
                        - duration
                        - unit
                      additionalProperties: false
                    branches:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          label:
                            type: string
                          condition:
                            type: object
                            properties:
                              kind:
                                type: string
                                enum:
                                  - engaged
                                  - not_engaged
                                  - clicked_link
                              events:
                                type: string
                                enum:
                                  - opened
                                  - clicked
                                  - opened_or_clicked
                              url:
                                type: string
                              position:
                                type: string
                                enum:
                                  - any
                                  - first
                                  - last
                            required:
                              - kind
                        required:
                          - id
                          - condition
                      minItems: 1
                  required:
                    - mode
                    - sourceNodeId
                    - window
                    - branches
                  additionalProperties: false
          required:
            - id
            - label
            - type
            - config
          additionalProperties: false
        - type: object
          properties:
            id:
              type: string
              minLength: 1
            label:
              type: string
              minLength: 1
            description:
              type: string
            type:
              type: string
              enum:
                - split
            config:
              oneOf:
                - type: object
                  properties:
                    actionType:
                      type: string
                    mode:
                      type: string
                      enum:
                        - percentage
                    leftLabel:
                      type: string
                    rightLabel:
                      type: string
                    leftPercentage:
                      type: number
                      minimum: 0
                      maximum: 100
                    seed:
                      type: string
                  required:
                    - mode
                    - leftLabel
                    - rightLabel
                    - leftPercentage
                  additionalProperties: false
                - type: object
                  properties:
                    actionType:
                      type: string
                    mode:
                      type: string
                      enum:
                        - condition
                    leftLabel:
                      type: string
                    rightLabel:
                      type: string
                    logicalOperator:
                      type: string
                      enum:
                        - AND
                        - OR
                    conditions:
                      type: array
                      items:
                        anyOf:
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - string
                              operator:
                                type: string
                                enum:
                                  - equals
                                  - not_equals
                                  - contains
                                  - not_contains
                                  - starts_with
                                  - ends_with
                              value:
                                type: string
                                description: String value to compare against.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - number
                              operator:
                                type: string
                                enum:
                                  - equals
                                  - not_equals
                                  - gt
                                  - gte
                                  - lt
                                  - lte
                              value:
                                type: number
                                description: Finite numeric value to compare against.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - date
                              operator:
                                type: string
                                enum:
                                  - equals
                                  - not_equals
                                  - gt
                                  - gte
                                  - lt
                                  - lte
                              value:
                                anyOf:
                                  - type: string
                                    minLength: 1
                                  - type: number
                                description: ISO date string or Unix timestamp in milliseconds to compare against.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - string
                              operator:
                                type: string
                                enum:
                                  - in
                                  - not_in
                                  - contains_any
                                  - not_contains_any
                              value:
                                type: array
                                items:
                                  type: string
                                  minLength: 1
                                minItems: 1
                                description: Non-empty array of string values to compare against.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - number
                              operator:
                                type: string
                                enum:
                                  - in
                                  - not_in
                              value:
                                type: array
                                items:
                                  type: number
                                minItems: 1
                                description: Non-empty array of finite numbers to compare against.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - number
                              operator:
                                type: string
                                enum:
                                  - between
                              value:
                                type: array
                                prefixItems:
                                  - type: number
                                  - type: number
                                description: Inclusive [minimum, maximum] numeric bounds.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - date
                              operator:
                                type: string
                                enum:
                                  - between
                              value:
                                type: array
                                prefixItems:
                                  - anyOf:
                                      - type: string
                                        minLength: 1
                                      - type: number
                                  - anyOf:
                                      - type: string
                                        minLength: 1
                                      - type: number
                                description: Inclusive [start, end] ISO-date or Unix-millisecond timestamp bounds.
                            required:
                              - field
                              - type
                              - operator
                              - value
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - string
                              operator:
                                type: string
                                enum:
                                  - is_empty
                                  - is_not_empty
                                description: Unary empty check; do not provide a value.
                            required:
                              - field
                              - type
                              - operator
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - number
                              operator:
                                type: string
                                enum:
                                  - is_empty
                                  - is_not_empty
                                description: Unary empty check; do not provide a value.
                            required:
                              - field
                              - type
                              - operator
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - date
                              operator:
                                type: string
                                enum:
                                  - is_empty
                                  - is_not_empty
                                description: Unary empty check; do not provide a value.
                            required:
                              - field
                              - type
                              - operator
                            additionalProperties: false
                          - type: object
                            properties:
                              field:
                                type: string
                                minLength: 1
                                description: Trigger payload field name or dot path, for example trackingNumber or order.total.
                              type:
                                type: string
                                enum:
                                  - bool
                              operator:
                                type: string
                                enum:
                                  - is_true
                                  - is_false
                                description: Unary boolean check; do not provide a value.
                            required:
                              - field
                              - type
                              - operator
                            additionalProperties: false
                      minItems: 1
                  required:
                    - mode
                    - leftLabel
                    - rightLabel
                    - logicalOperator
                    - conditions
                  additionalProperties: false
          required:
            - id
            - label
            - type
            - config
          additionalProperties: false
    AutomationConnection:
      type: object
      properties:
        from:
          type: string
          minLength: 1
        to:
          type: string
          minLength: 1
        branch:
          type: string
          minLength: 1
      required:
        - from
        - to
      additionalProperties: false
    AutomationRow:
      type: object
      properties:
        automationId:
          type: string
          minLength: 1
          maxLength: 64
        automationVersionId:
          type: string
          minLength: 1
          maxLength: 64
        triggerEventId:
          type: string
          minLength: 1
          maxLength: 256
        name:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
          maxLength: 2000
        version:
          anyOf:
            - type: integer
              minimum: 0
            - type: string
              enum:
                - latest
        published:
          type: boolean
        isLive:
          type: boolean
        liveVersion:
          anyOf:
            - type: integer
              minimum: 0
            - type: string
              enum:
                - latest
        liveAutomationVersionId:
          type: string
          minLength: 1
          maxLength: 64
        warnings:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
            required:
              - code
              - message
            additionalProperties: false
        paused:
          type: boolean
        pausedAt:
          type: number
        nodes:
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - trigger
                  config:
                    anyOf:
                      - type: object
                        properties:
                          actionType:
                            type: string
                          eventName:
                            type: string
                          mode:
                            type: string
                            enum:
                              - event
                          triggerEventId:
                            type: string
                        additionalProperties: false
                      - type: object
                        properties:
                          actionType:
                            type: string
                          eventName:
                            type: string
                          mode:
                            type: string
                            enum:
                              - manualAudience
                          audienceId:
                            type: string
                        required:
                          - mode
                          - audienceId
                        additionalProperties: false
                required:
                  - id
                  - label
                  - type
                  - config
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - sendEmail
                  config:
                    type: object
                    properties:
                      actionType:
                        type: string
                      emailId:
                        type: string
                      emailVersionId:
                        type: string
                      emailTitle:
                        type: string
                      subject:
                        type: string
                      previewText:
                        type: string
                      fromName:
                        type: string
                      fromAddress:
                        type: string
                      domainId:
                        type: string
                      replyTo:
                        type: string
                      to: {}
                      html:
                        type: string
                      variables:
                        type: object
                        additionalProperties: {}
                required:
                  - id
                  - label
                  - type
                  - config
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - wait
                  config:
                    type: object
                    properties:
                      actionType:
                        type: string
                      duration:
                        type: number
                      unit:
                        type: string
                        enum:
                          - ms
                          - seconds
                          - minutes
                          - hours
                          - days
                          - weeks
                    required:
                      - duration
                      - unit
                required:
                  - id
                  - label
                  - type
                  - config
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - filter
                  config:
                    anyOf:
                      - type: object
                        properties:
                          actionType:
                            type: string
                          mode:
                            type: string
                            enum:
                              - payload
                          logicalOperator:
                            type: string
                            enum:
                              - AND
                              - OR
                          conditions:
                            type: array
                            items:
                              type: object
                              properties:
                                field:
                                  type: string
                                operator:
                                  type: string
                                value:
                                  anyOf:
                                    - type: string
                                    - type: number
                                    - type: boolean
                                    - type: array
                                      items:
                                        anyOf:
                                          - type: string
                                          - type: number
                                type:
                                  type: string
                                  enum:
                                    - string
                                    - number
                                    - date
                                    - bool
                              required:
                                - field
                                - operator
                        required:
                          - logicalOperator
                          - conditions
                      - type: object
                        properties:
                          actionType:
                            type: string
                          mode:
                            type: string
                            enum:
                              - engagement
                          sourceNodeId:
                            type: string
                          window:
                            type: object
                            properties:
                              duration:
                                type: number
                              unit:
                                type: string
                                enum:
                                  - ms
                                  - seconds
                                  - minutes
                                  - hours
                                  - days
                                  - weeks
                            required:
                              - duration
                              - unit
                          branches:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                label:
                                  type: string
                                condition:
                                  type: object
                                  properties:
                                    kind:
                                      type: string
                                      enum:
                                        - engaged
                                        - not_engaged
                                        - clicked_link
                                    events:
                                      type: string
                                      enum:
                                        - opened
                                        - clicked
                                        - opened_or_clicked
                                    url:
                                      type: string
                                    position:
                                      type: string
                                      enum:
                                        - any
                                        - first
                                        - last
                                  required:
                                    - kind
                              required:
                                - id
                                - condition
                        required:
                          - mode
                          - sourceNodeId
                          - window
                          - branches
                required:
                  - id
                  - label
                  - type
                  - config
              - type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  label:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  type:
                    type: string
                    enum:
                      - split
                  config:
                    oneOf:
                      - type: object
                        properties:
                          actionType:
                            type: string
                          mode:
                            type: string
                            enum:
                              - percentage
                          leftLabel:
                            type: string
                          rightLabel:
                            type: string
                          leftPercentage:
                            type: number
                          seed:
                            type: string
                        required:
                          - mode
                          - leftLabel
                          - rightLabel
                          - leftPercentage
                      - type: object
                        properties:
                          actionType:
                            type: string
                          mode:
                            type: string
                            enum:
                              - condition
                          leftLabel:
                            type: string
                          rightLabel:
                            type: string
                          logicalOperator:
                            type: string
                            enum:
                              - AND
                              - OR
                          conditions:
                            type: array
                            items:
                              type: object
                              properties:
                                field:
                                  type: string
                                operator:
                                  type: string
                                value:
                                  anyOf:
                                    - type: string
                                    - type: number
                                    - type: boolean
                                    - type: array
                                      items:
                                        anyOf:
                                          - type: string
                                          - type: number
                                type:
                                  type: string
                                  enum:
                                    - string
                                    - number
                                    - date
                                    - bool
                              required:
                                - field
                                - operator
                        required:
                          - mode
                          - leftLabel
                          - rightLabel
                          - logicalOperator
                          - conditions
                required:
                  - id
                  - label
                  - type
                  - config
        connections:
          type: array
          items:
            type: object
            properties:
              from:
                type: string
                minLength: 1
              to:
                type: string
                minLength: 1
              branch:
                type: string
            required:
              - from
              - to
        emailIds:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 64
        createdBy:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        publishedAt:
          type: string
          format: date-time
        versions:
          type: array
          items:
            type: object
            properties:
              version:
                anyOf:
                  - type: integer
                    minimum: 0
                  - type: string
                    enum:
                      - latest
              automationVersionId:
                type: string
                minLength: 1
                maxLength: 64
            required:
              - version
              - automationVersionId
            additionalProperties: false
      required:
        - automationId
        - automationVersionId
        - name
        - version
        - published
        - emailIds
      additionalProperties: false
    AutomationDryRunReport:
      type: object
      properties:
        valid:
          type: boolean
          description: Whether the graph would publish cleanly. false when any `blockers[]` entry or any `blockingIssues[]` entry is present.
        blockers:
          type: array
          items:
            type: object
            properties:
              nodeId:
                type: string
                description: Id of the offending node. Absent on graph-level findings.
              nodeLabel:
                type: string
                description: Label of the offending node. Absent on graph-level findings.
              severity:
                type: string
                enum:
                  - error
                  - warning
              message:
                type: string
                description: Human-readable description of the finding.
            required:
              - severity
              - message
            additionalProperties: false
          description: 'Publish blockers (`severity: "error"`). Publishing fails while any remain.'
        warnings:
          type: array
          items:
            type: object
            properties:
              nodeId:
                type: string
                description: Id of the offending node. Absent on graph-level findings.
              nodeLabel:
                type: string
                description: Label of the offending node. Absent on graph-level findings.
              severity:
                type: string
                enum:
                  - error
                  - warning
              message:
                type: string
                description: Human-readable description of the finding.
            required:
              - severity
              - message
            additionalProperties: false
          description: 'Advisory findings (`severity: "warning"`). Publishing succeeds despite them.'
        blockingIssues:
          type: array
          items:
            type: object
            properties:
              nodeId:
                type: string
              nodeLabel:
                type: string
              surface:
                type: string
                enum:
                  - triggerBinding
                  - subject
                  - previewText
                  - fromName
                  - replyTo
                  - emailBody
                  - filterCondition
                  - splitCondition
                description: Where on the node the orphaned reference lives.
              variable:
                type: string
                description: The bare variable / field name that cannot be resolved.
              reason:
                type: string
                description: Short user-facing reason.
              fatal:
                type: boolean
                description: "true — filter/split conditions and triple-brace `{{{ }}}` body tokens: the run genuinely breaks, and publish fails. false — subject/previewText/fromName/replyTo and double-brace body tags: the value renders empty at send time; advisory only."
              hasFallback:
                type: boolean
                description: The token carries an inline `{{ name | fallback }}` fallback, so it renders the fallback rather than empty. Never blocks publish.
            required:
              - nodeId
              - nodeLabel
              - surface
              - variable
              - reason
              - fatal
              - hasFallback
            additionalProperties: false
          description: Trigger-payload / draft-variable compatibility findings. Present (possibly empty) on POST and PATCH dry-run responses. `valid` is false when any entry is present.
        nodeCounts:
          type: object
          properties:
            sendEmail:
              type: integer
              minimum: 0
            wait:
              type: integer
              minimum: 0
            filter:
              type: integer
              minimum: 0
            split:
              type: integer
              minimum: 0
          required:
            - sendEmail
            - wait
            - filter
            - split
          additionalProperties: false
          description: Per-kind node counts of the validated graph.
      required:
        - valid
        - blockers
        - warnings
        - nodeCounts
      additionalProperties: false
    AutomationRunRow:
      type: object
      properties:
        automationRunId:
          type: string
          minLength: 1
          maxLength: 64
        automationId:
          type: string
          minLength: 1
          maxLength: 64
        automationVersionId:
          type: string
          minLength: 1
          maxLength: 64
        triggerInstanceId:
          type: string
          minLength: 4
          maxLength: 64
        mode:
          type: string
          enum:
            - live
            - test
        status:
          type: string
          enum:
            - pending
            - running
            - completed
            - failed
            - canceled
        recipientEmail:
          type: string
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        error:
          type: string
      required:
        - automationRunId
        - automationId
        - mode
        - status
      additionalProperties: false
    AutomationRunLogRow:
      type: object
      properties:
        automationRunId:
          type: string
          minLength: 1
          maxLength: 64
        nodeId:
          type: string
          minLength: 1
        nodeName:
          type: string
          minLength: 1
        nodeType:
          type: string
          enum:
            - trigger
            - wait
            - filter
            - split
            - sendEmail
        status:
          type: string
          enum:
            - running
            - success
            - error
            - skipped
        orderIndex:
          type: integer
          minimum: 0
        branch:
          type: string
          minLength: 1
        durationMs:
          type: integer
          minimum: 0
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        error:
          type: string
      required:
        - automationRunId
        - nodeId
        - nodeName
        - nodeType
        - status
        - orderIndex
        - startedAt
      additionalProperties: false
    TriggerRow:
      type: object
      properties:
        triggerEventId:
          type: string
          minLength: 1
          maxLength: 256
        title:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
          maxLength: 2000
        provider:
          type: string
          enum:
            - brew_api
            - clerk
            - stripe
            - shopify
            - stytch
            - supabase
            - workos
            - revenuecat
            - custom
        providerEventKey:
          type: string
        payloadSchema:
          type: object
          properties:
            type:
              type: string
              enum:
                - object
            fields:
              type: array
              items:
                $ref: "#/components/schemas/TriggerPayloadField"
          required:
            - type
            - fields
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        skill:
          type: string
      required:
        - triggerEventId
        - title
        - provider
        - payloadSchema
        - createdAt
        - updatedAt
      additionalProperties: false
    TriggerPayloadField:
      type: object
      properties:
        key:
          type: string
          minLength: 1
          description: Variable name used by emails and automations, e.g. email or firstName. Prefer self-descriptive keys; this column has no separate description field.
        type:
          type: string
          enum:
            - string
            - int
            - boolean
            - object
            - array
        required:
          type: boolean
        fallbackValue:
          anyOf:
            - type: string
            - type: number
            - type: boolean
          description: Substitution value when the inbound payload is missing this SCALAR field. Also used as the email agent's `e.g. {{ key | fallback }}` example. Scalar leaves only.
        pii:
          type: string
          enum:
            - none
            - low
            - high
          description: PII classification for redaction. "high" auto-redacts the value (a container redacts its whole subtree) in execution logs and the inbound log. "low" (default when omitted) preserves the value. "none" is an explicit marker that the field is non-personal.
        children:
          type: array
          items:
            $ref: "#/components/schemas/TriggerPayloadField"
          description: Nested field nodes for type "object", or the element shape for an array of objects. Emails reference nested leaves as dotted paths ({{ order.total }}) and arrays via {% for %}.
        itemType:
          type: string
          enum:
            - string
            - int
            - boolean
          description: Element type for a type "array" of scalars. Omit when the array carries objects (declare `children` instead).
      required:
        - key
        - type
        - required
    TriggerEventInstance:
      type: object
      properties:
        triggerInstanceId:
          type: string
          minLength: 1
        source:
          type: string
          enum:
            - api
            - integration
        provider:
          type: string
        triggerEventId:
          type: string
          minLength: 1
          maxLength: 256
        state:
          type: string
          minLength: 1
        matchedAutomationIds:
          type: array
          items:
            type: string
        automationRunIds:
          type: array
          items:
            type: string
        rejectionReason:
          type: string
        attempts:
          type: integer
          minimum: 0
        receivedAt:
          type: string
          format: date-time
        processedAt:
          type: string
          format: date-time
      required:
        - triggerInstanceId
        - source
        - state
        - matchedAutomationIds
        - automationRunIds
        - attempts
        - receivedAt
      additionalProperties: false
    Contact:
      type: object
      properties:
        email:
          type: string
          format: email
        firstName:
          type: string
        lastName:
          type: string
        subscribed:
          type: boolean
          default: true
        validationStatus:
          type: string
          enum:
            - valid
            - risky
            - invalid
        verificationStatus:
          type: string
          enum:
            - valid
            - risky
            - invalid
          description: "Deprecated: legacy mirror of validationStatus. Will be removed; read validationStatus."
        suppressed:
          type: boolean
          default: false
        suppressedReason:
          type:
            - string
            - "null"
        lastValidatedAt:
          type: string
          format: date-time
        validationDetails:
          type: object
          properties:
            provider:
              type: string
              enum:
                - brew
            reason:
              type: string
            didYouMean:
              type: string
            risk:
              type: string
            isDisposable:
              type: boolean
            isRole:
              type: boolean
          required:
            - provider
          additionalProperties: false
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        importId:
          type:
            - string
            - "null"
        csvFileName:
          type:
            - string
            - "null"
        customFields:
          type: object
          additionalProperties: {}
          default: {}
      required:
        - email
        - createdAt
        - updatedAt
      additionalProperties: false
    ContactFieldDefinition:
      type: object
      properties:
        fieldName:
          type: string
          minLength: 1
        fieldType:
          type: string
          enum:
            - string
            - number
            - date
            - bool
        label:
          type: string
        isCore:
          type: boolean
        isFilterable:
          type: boolean
        isSortable:
          type: boolean
        isSearchable:
          type: boolean
        coverage:
          type: object
          properties:
            percent:
              type: integer
              minimum: 0
              maximum: 100
            approximate:
              type: boolean
            topValues:
              type: array
              items:
                type: object
                properties:
                  value:
                    type: string
                  count:
                    type: integer
                    minimum: 0
                  percent:
                    type: integer
                    minimum: 0
                    maximum: 100
                required:
                  - value
                  - count
                  - percent
                additionalProperties: false
            dominantValue:
              type: string
          required:
            - percent
            - approximate
            - topValues
          additionalProperties: false
      required:
        - fieldName
        - fieldType
      additionalProperties: false
    Audience:
      type: object
      properties:
        audienceId:
          type: string
          minLength: 1
          maxLength: 64
        audienceName:
          type: string
          minLength: 1
          maxLength: 200
        filters:
          type: object
          properties:
            filters:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                    minLength: 1
                  operator:
                    type: string
                    enum:
                      - equals
                      - not_equals
                      - contains
                      - not_contains
                      - contains_any
                      - not_contains_any
                      - starts_with
                      - ends_with
                      - gt
                      - gte
                      - lt
                      - lte
                      - between
                      - is_true
                      - is_false
                      - in
                      - not_in
                      - is_empty
                      - not_exists
                      - is_not_empty
                      - exists
                      - is_set
                      - before
                      - after
                      - on_date
                  value: {}
                  type:
                    type: string
                    description: The field's value type — set `number`, `date`, or `boolean` for typed comparisons (dates are stored as epoch-ms, so a string `equals` on a date never matches). Omit for plain string fields.
                required:
                  - field
                  - operator
                additionalProperties: false
            logicalOperator:
              type: string
              enum:
                - and
                - or
          required:
            - filters
            - logicalOperator
          additionalProperties: false
        count:
          type: integer
          minimum: 0
        materializationStatus:
          type: string
          enum:
            - pending
            - running
            - ready
            - failed
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        build:
          type: object
          properties:
            jobId:
              type: string
              minLength: 1
              maxLength: 64
            status:
              type: string
              enum:
                - pending
                - running
                - completed
                - partial
                - failed
            cohort:
              type: object
              properties:
                eventTypes:
                  type: array
                  items:
                    type: string
                    enum:
                      - sent
                      - delivered
                      - delivery_delayed
                      - opened
                      - clicked
                      - bounced
                      - complained
                      - failed
                      - skipped
                      - unsubscribed
                  minItems: 1
                  maxItems: 10
                from:
                  type: string
                  format: date-time
                to:
                  type: string
                  format: date-time
                  description: Defaults to now.
                sendId:
                  type: string
                  minLength: 1
                  maxLength: 64
                emailId:
                  type: string
                  minLength: 1
                  maxLength: 64
                automationIds:
                  type: array
                  items:
                    type: string
                    minLength: 1
                    maxLength: 64
                  maxItems: 20
                audienceIds:
                  type: array
                  items:
                    type: string
                    minLength: 1
                    maxLength: 64
                  maxItems: 20
                  description: Scope to events from sends that targeted these audiences.
                recipient:
                  type: array
                  items:
                    type: string
                    minLength: 1
                    maxLength: 320
                  maxItems: 10
                  description: Recipient rule tokens using the Events-page grammar.
                includeMachineClicks:
                  type: boolean
              required:
                - eventTypes
                - from
                - to
              additionalProperties: false
            field:
              type: object
              properties:
                key:
                  type: string
                  minLength: 1
                label:
                  type: string
                  minLength: 1
                type:
                  type: string
                  enum:
                    - date
              required:
                - key
                - label
                - type
              additionalProperties: false
            counts:
              type: object
              properties:
                eventsScanned:
                  type: integer
                  minimum: 0
                stampedContacts:
                  type: integer
                  minimum: 0
              required:
                - eventsScanned
              additionalProperties: false
            error:
              type: string
            enqueuedAt:
              type: string
              format: date-time
            completedAt:
              type: string
              format: date-time
          required:
            - jobId
            - status
            - cohort
            - field
            - counts
            - enqueuedAt
          additionalProperties: false
      required:
        - audienceId
        - audienceName
        - filters
        - count
        - createdAt
        - updatedAt
      additionalProperties: false
    AudienceBuild:
      type: object
      properties:
        jobId:
          type: string
          minLength: 1
          maxLength: 64
        status:
          type: string
          enum:
            - pending
            - running
            - completed
            - partial
            - failed
        cohort:
          type: object
          properties:
            eventTypes:
              type: array
              items:
                type: string
                enum:
                  - sent
                  - delivered
                  - delivery_delayed
                  - opened
                  - clicked
                  - bounced
                  - complained
                  - failed
                  - skipped
                  - unsubscribed
              minItems: 1
              maxItems: 10
            from:
              type: string
              format: date-time
            to:
              type: string
              format: date-time
              description: Defaults to now.
            sendId:
              type: string
              minLength: 1
              maxLength: 64
            emailId:
              type: string
              minLength: 1
              maxLength: 64
            automationIds:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 64
              maxItems: 20
            audienceIds:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 64
              maxItems: 20
              description: Scope to events from sends that targeted these audiences.
            recipient:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 320
              maxItems: 10
              description: Recipient rule tokens using the Events-page grammar.
            includeMachineClicks:
              type: boolean
          required:
            - eventTypes
            - from
            - to
          additionalProperties: false
        field:
          type: object
          properties:
            key:
              type: string
              minLength: 1
            label:
              type: string
              minLength: 1
            type:
              type: string
              enum:
                - date
          required:
            - key
            - label
            - type
          additionalProperties: false
        counts:
          type: object
          properties:
            eventsScanned:
              type: integer
              minimum: 0
            stampedContacts:
              type: integer
              minimum: 0
          required:
            - eventsScanned
          additionalProperties: false
        error:
          type: string
        enqueuedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
      required:
        - jobId
        - status
        - cohort
        - field
        - counts
        - enqueuedAt
      additionalProperties: false
    Domain:
      type: object
      properties:
        domainId:
          type: string
          minLength: 1
          maxLength: 64
        domainUrl:
          type: string
          format: uri
        name:
          type: string
          minLength: 1
          maxLength: 253
        region:
          type: string
        status:
          type: string
          enum:
            - not_started
            - pending
            - verified
            - failed
            - temporary_failure
            - partially_verified
            - partially_failed
        sendingEnabled:
          type: boolean
        sendable:
          type: boolean
        sendingPurpose:
          type: string
          enum:
            - marketing
            - transactional
          description: marketing (default) or transactional. Transactional domains skip unsubscribe and send via automation sendEmail nodes (or a test send).
        records:
          type: array
          items:
            type: object
            properties:
              record:
                type: string
              name:
                type: string
              type:
                type: string
              ttl:
                type: string
              status:
                type: string
              value:
                type: string
              priority:
                type: number
            required:
              - record
              - name
              - type
              - ttl
              - status
              - value
            additionalProperties: false
        openTracking:
          type: boolean
        clickTracking:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        verifiedAt:
          type: string
          format: date-time
      required:
        - domainId
        - domainUrl
        - name
        - region
        - status
        - sendingEnabled
        - sendable
        - sendingPurpose
        - records
        - createdAt
        - updatedAt
      additionalProperties: false
    Template:
      type: object
      properties:
        emailId:
          type: string
          minLength: 1
        title:
          type: string
          minLength: 1
        category:
          type: string
          minLength: 1
        brand:
          type: string
          minLength: 1
        html:
          type: string
          minLength: 1
        previewImage:
          type: string
          format: uri
        updatedAt:
          type: string
          minLength: 1
      required:
        - emailId
        - title
        - html
        - previewImage
        - updatedAt
      additionalProperties: false
    EmailsListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              emailId:
                type: string
                minLength: 1
              emailVersionId:
                type: string
                minLength: 1
              title:
                type: string
                minLength: 1
              status:
                type: string
                enum:
                  - streaming
                  - complete
                  - error
              previewImage:
                type: string
                format: uri
              updatedAt:
                type: string
                format: date-time
              subjectLine:
                type: string
                description: The design's default inbox subject, persisted on the latest version. Distinct from `title` (canvas name). Detail-only; absent on rows where it has never been set (via the write surfaces' `subjectLine` field, or in-app). `POST /v1/sends` still requires an explicit `subject`.
              previewText:
                type: string
                description: The design's inbox preview line, read directly from the latest version's JSX <Preview> (its single source of truth) — what a send delivers when no explicit `previewText` override is passed to POST /v1/sends. Detail-only; absent when the design has no <Preview>.
              html:
                type: string
              versions:
                type: array
                items:
                  type: object
                  properties:
                    version:
                      anyOf:
                        - type: integer
                          minimum: 0
                        - type: string
                          enum:
                            - latest
                    emailVersionId:
                      type: string
                      minLength: 1
                  required:
                    - version
                    - emailVersionId
                  additionalProperties: false
              group:
                type:
[...]
